:root {
    --gridItemColor: rgb(248, 243, 183);
}

.headerdiv {
    display: flex;
   
   
}
a {
    color:rgba(6, 6, 6, 0.56);
}
h1{
   margin-top: -8px;
    font-size: 25px;
    text-align: center;
    color: rgba(6, 6, 6, 0.56);
    margin-left: 570px;
   
}
#basketid {
    width: 25px;
    height: 25px;
    margin-left: 100px;
}
#crown-id {
    width: 100px;
    height: 80px;
    margin-top: -80px;
}
.navmenu {
   font-size: large;
    justify-content: space-around ;
    width: 500px;
    height: 50px;
   
    margin-left: 990px;
    margin-top: -70px;
    display: flex;
}
#navbar-atags:hover {
    
    background-color: rgba(245, 185, 185, 0.438) ;
}
#navbar-atags {
    color:  rgba(255, 201, 201, 0.851) ;
}
.navbar {
 
    width: 100%;
    margin-top: 20px;
    height: 30px;
    background-color:black;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}



.item1 {
    background-color: rgba(252, 150, 150, 0.47);
    height: 20px;
    grid-area: header;
    color: var(--gridItemColor);
}
.item2 {
    height: 900px;
    grid-area: menu;
    color: var(--gridItemColor);
}

.item3 {
    height: 900px;
    grid-area: main;
    color: var(--gridItemColor);
}

.item4 {
    height: 900px;
    grid-area: right;
    color: var(--gridItemColor);
}

.item5 {
    width: 1500px;
    height: 300px;
    grid-area: footer;
    color: var(--gridItemColor);
}

.gridTable {
    width: 100%;
    height: 1800px;
    display: grid;
    grid-template-areas:
    "header header header header header header"
    "menu main main main main right"
    "footer footer footer footer footer footer";
    gap: 10px;
    /* background-color: rgb(43, 182, 232); */
    padding: 10px;
}

.gridTable > div { 
    
   
    text-align: center;
    padding: 25px 0;
    font-size: 25px;
}


#pointpng {
    width: 100px;
    height: 120px;
 
  
    
}

.form-control {
    margin-left: 200px;
}