
header{
    width: 100%;
    height: 250px;
    background-color: lightgray;
    
}

 .idontknow{
    display: flex;
    margin-left: 9000px;
}


.atags {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 50px; 
    background-color: rgb(101, 96, 96);
    color: aliceblue;
    margin-left: 7px;
}
.atags:hover {
    background-color: rgb(130, 116, 108);
}
#pngid {
    width: 300px;
    height: 100px;
    margin-top: 70px;
    margin-left: 60px;
}
.mainimgs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px
}

.mainimg1 {
    width: 500px;
    height: 500px;
   
    
}

.mainimg2 {
    width: 500px;
    height: 500px;
   
    justify-content: space-between;
}


.footer1div {
  margin-left: 50px;
    height: 300px;
}





.footerimgs {
    width: 45px;
    height: 45px;
    margin-top: 20px;
   padding-left: 20px;
}



footer {
    margin-top: 1000px;
    width: 100%;
    height: 300px;
    background-color: lightgray;
    
}
.footer {
    display: flex;
}

.footer2div {
    width: 100px;
    height: 150px;
    color: rgb(11, 12, 12);
   margin-left: 400px;
   margin-top: 40px;
    
}
.footer3div {
    width: 100px;
    height: 150px;
    color: rgb(11, 12, 12);
   margin-left: 300px;
   margin-top: 40px;
}












 #h1 {
    color: lightgrey;
    text-align: center;
    padding-top: 20px;
    width: 100px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(235, 212, 135);
    animation-name: example3;
    animation-duration: 4s;
    animation-iteration-count: 100,infinite;
    position: relative;
    animation-direction: alternate;
   
}





#h2  {
    color: lightgrey;
  padding-top: 25px;
    text-align: center;
    width: 100px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(187, 135, 235);
    animation-name: example3;
    animation-duration: 4s;
    animation-iteration-count: 100,infinite;
    position: relative;
    animation-direction: alternate;
   
}
#h3  {
    color: lightgrey;
    text-align: center;
    padding-top: 30px;
    width: 100px;
    height: 70px;
    border-radius: 50%;
    background-color: skyblue;
    animation-name: example3;
    animation-duration: 4s;
    animation-iteration-count: 100,infinite;
    position: relative;
    animation-direction: alternate;
   
}






        @keyframes example {
            from {background-color: green;}
            to {
                background-color: palevioletred;
            }
        }
        @keyframes example2 {
            0% {background-color: rgb(152, 179, 179);}
            25% {background-color: aquamarine;}
            50% { background-color:royalblue ; }
            75% {background-color: rgb(23, 23, 88);}
            100% {background-color: rgb(234, 182, 79); }
        }
        @keyframes example3 {
            0% {background-color: rgb(237, 223, 153); left: 0px;top: 0px;}
            25% {background-color: aquamarine;left: 200px;top: 0px;}
            50% { background-color:rgb(160, 141, 150) ; left: 0px;top:0px;}
            75% {background-color: rgb(133, 133, 155);left:1200px;top: 0px;}
            100% {background-color: rgb(242, 163, 59);left: 0px;top: 0px;
            }
        }
        p {
            position: relative;
        }
         